*.pyc
*.mod
*.o
*.so
*.a
*.out
*.err
*.sh
*.txt
*.png
*.pdf
*.npz
*.ipynb_checkpoints
*.code-workspace
test_kernels.py
test_backends.py
test*.ipynb
build_fortran/
examples/chains/
NANOGrav15yr_KDE-FreeSpectra_v1.0.0/
model_files/
chains/
ultranest_*/
*.h5